@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="fw-bold text-center">Forgot Your Password?</h2>
            <p class="text-muted text-center">Enter your email address to reset your password.</p>

            <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" class="form-control" name="email" required placeholder="Enter your email">
                </div>
                 <div class="mb-3">
                    <label class="form-label">Reset Password</label>
                    <input type="reset passoword" class="form-control" name="reset password" required placeholder="Reset Password">
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="confirm password" class="form-control" name="confirm password" required placeholder="Confirm Password">
                </div>

                <button type="submit" class="btn btn-danger w-100">Send Reset Link</button>
            </form>

            <p class="text-center mt-3">
                <a asp-action="Login" asp-controller="Account">Back to Login</a>
            </p>
        </div>
    </div>
</div>
