@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
@{
    ViewData["Title"] = "Login";
}

<!-- Main Container -->
<div class="container">
    <div class="row">
        <!-- Left Side: Image Section -->
        <div class="col-md-6">
            <img src="https://plus.unsplash.com/premium_photo-1683887064255-1c428d0b3934?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8b25saW5lJTIwc2hvcHBpbmd8ZW58MHx8MHx8fDA%3D" class="img-fluid" alt="Shopping Image">
        </div>

        <!-- Right Side: Login Form -->
        <div class="col-md-6 d-flex align-items-center">
            <div class="w-75 mx-auto">
                <h2 class="fw-bold">Welcome Back</h2>
                <p class="text-muted">Enter your details below</p>

                <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email or Phone Number">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-danger w-100">Log In</button>

                    <div class="text-end mt-2">
                        <p class="text-center mt-3">
                            <a href="/Account/ForgotPassword">Forgot Password?</a>
                        </p>



                    </div>

                    <p class="text-center mt-3">
                        Don't have an account?
                        <a asp-action="SignUp" asp-controller="Account">Sign Up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
